.l-container-clearfix
  .l-content
    .l-chapter-container
      %h2.l-chapter-head いいね！一覧
      .mypage-item-list
        - if @favorites.present?
          - @favorites.each do |favorite|
            .mypage-item-list-main
              .mypage-item-list-image
                .mypage-item-list-image-flame
                = image_tag "#{favorite.item.item_images[0].src.url}", width: "50", height: '50'
              .mypage-item-text
                .mypage-item-text-name
                = favorite.item.name
                .mypage-item-text-price
                = favorite.item.price
        - else 
          -# = redirect_to root_path