.header
  .header__inner
    .header__inner__bar
      .header__inner__bar__registration
        - if user_signed_in?
          .header__inner__bar__registration__Rogin
          = link_to "ログアウト",destroy_user_session_path, method: :delete, class:"my__page__function"