.l-container-clearfix {
  background-color: whitesmoke;
  width: 700px;
  margin: 24px auto 0;
  padding: 0 0 40px;
  border-style: solid;
  border-width: 0;
  font-size: inherit;
  line-height: inherit;
}

      .l-chapter-head {
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
        line-height: 1.4;
        border-style: solid;
        border-width: 0;
      }

      .mypage-item-list {
        height: auto;
        padding-left: 330px
      }

        .mypage-item-list-main {
          display: flex;
        }

        .mypage-item-text {
          margin-left: 10px;
        }
