.main {
  background: #f8f8f8;
}
div {
  display: block;
}
tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}
.table table {
  width: 100%;
  height: 375px;
  border-collapse: collapse;
  border: 1px solid #f8f8f8;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
th {
  width: 20%;
  background-color: #eee;
  font-weight: 400;
  padding: 8px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}
td {
  width: 61%;
  padding: 15px 15px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.item {
  background-color: #fff;
  padding: 24px 40px 40px;
  width: 600px;
  margin: 0 auto;
}
.item__name {
  text-align: center;
}
.item__price-detail {
  padding-bottom: 10px;
  padding-top: 10px;
}

.showMain {
  padding: 40px;
  margin: 0 auto;
}

.comment__new {
  padding: 24px 40px 40px;
  background-color: #fff;
  margin: 10px auto;
  text-align: center;
  width: 600px;
}

.purchese__btn {
  width: 100%;
  margin: 40px 0 0 0;
  padding: 20px;
  text-align: center;
  background-color: #3CCACE;
  border: none;
  font-size: 18px;
  color: white;
  border-radius: 100px;
}
textarea {
  width: 100%;
  height: 100px;
}

.comentButton {
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 60%;
  height: 50px;
  font-size: 18px;
  border-radius: 100px;
  margin-top: 20px;
}

.item__body {
  text-align : center;
  &_image_detail{
    display: flex;
  }
}

.item__price {
  text-align : center;
  font-size: 46px;
  font-weight: bold;
}
.item__price__sub {
  text-align : center;
}

.favorite {
  text-decoration: none;
  color: black;
}

.far.fa-heart:before {
  font-weight: 400;
  font-family: 'FontAwesome';
  text-decoration: none;
  color: gray;
  
}

.fas.fa-heart:before {
  font-weight: 900;
  font-family: 'FontAwesome';
  text-decoration: none;
  color: red;
 
}