.form-content{
  font-size: 18px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 30px;
  .delete-btn{
    background-color: #3CCACE;
    color: white;
    width: 20%;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 150px;
  }
}