* {
  box-sizing: border-box;
}

.footer{
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .texts{
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .text{
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      .title{
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      .ul{
        list-style: none;
        .li{
          margin: 0;
          padding: 0;
          .a{
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  &__logo-siro{
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
    .p{
      font-size: 14px;
    }
  }
}
} 