* {
  box-sizing: border-box;
}

.main{
  box-sizing: border-box;
  &__pic1{
    width: 100%;
    height: 560px;
    background-image: image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;
    &__content{
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__message{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__appbtn{
        display: flex;
        &__Store{
          margin-right: 10px;
        }
      }
    }
  }
  &__pic2{
    padding: 60px 20px;
    .content{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      }
    .reasons{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .reason{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__pic{
          position: relative;
          margin-bottom: 20px;
          .namber{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
            &__image{
              width: 100%;
            }
          }
        }
        .text{
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          .message{
            color: #3CCACE;
          }
        }
        .Setumei{
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }
    }
  }
  &__pic3{
    background-image: image-url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__content{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .message{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      &__appbtn{
        display: flex;
        &__Store{
          margin-right: 10px;
        }
      }
    }
  }
  &__pic4{
    padding: 60px 100px;
    background-color: #fff;
    &__title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    &__features{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .feature{
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        .image{
          width: 100%;
          margin: 0 auto;
          line-height: 120px;
        }
        .sub{
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .setumei{
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &__pic5{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      margin: 0;
      padding: 0;
      &__inner{
        text-align: center;
        .text{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
      }
      &__lists2{
        width: 780px;
        margin: 26px auto;
        padding: 0px 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      &__lists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list{
          width: 220px;
          display: inline-block;
          &_photo__sold{
            width: 0;
            height: 0;
            border-top: 60px solid #ea352d ;
            border-right: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid #ea352d ;
            z-index:1000;
            position: absolute;
            &__inner{
              transform: rotate(-45deg);
              font-size: 28px;
              margin:-35px 0px 0px -55px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
              }
            }
          &__name{
            background-color: white;
            color: #333;
            padding: 16px;
            .text{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .data{
              ont-size: 16px;
              .ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .li{
                  margin: 0;
                  padding: 0;
                }
              }
              .zei{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
  &__pic6{
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .title{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    &__box{
      margin: 0;
      padding: 0;
      &__inner{
        text-align: center;
        .text{
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
        }
      }
      &__lists{
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        &__list{
          width: 220px;
          display: inline-block;
          float: left;
          &__name{
            background-color: white;
            color: #333;
            padding: 16px;
            .text{
              overflow: hidden;
              line-height: 1.5;
              font-size: 16px;
              text-align: left;
            }
            .data{
              ont-size: 16px;
              .ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .li{
                  margin: 0;
                  padding: 0;
                }
              }
              .zei{
                font-size: 10px;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  &__pic7{
    background-image: image-url("bg-appBanner-pict.jpg");
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    &__box{
      color: #fff;
      text-align: center;
      .title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__appbtn{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        &__Store{
          margin-right: 10px;
        }
      }
    }
  }
} 