.header
  = link_to "#", class: "クラス名" do
    = image_tag 'logo.png', alt: 'furima', height: '49px', width: '185px'

.products-purchase-wrapper
  .products-purchase-wrapper__buy-item 購入内容の確認
    
  .products-purchase-buy-content
    photo
    .products-purchase-buy-content__inner
      .products-purchase-buy-content__inner__item-box
