<<<<<<< Updated upstream
- breadcrumb :category_index
= render "breadcrumbs"
=======
%h1 Items#index
%p Find me in app/views/items/index.html.erb

= link_to '出品', new_item_path

-# -@item_images.each do |item|
-#   =item.url
>>>>>>> Stashed changes
.wrapper
  = render "top-main"
