.category__child, .category__parent, .category__grandchild{
  display: none;
}

.category__search{
  text-decoration: none;
  color: #333333;
  &:hover{
    color: skyblue;
  }
}
.category_main{
  height: 560px;
}

.category__icon,.brands__icon{
  text-decoration: none;
}

// カテゴリーの大枠の要素の共通項
.category__list{
  position: absolute;
  height: 820px;
  background-color: white;
  border-right: 1px solid whitesmoke;
}

.category__parent--name{
  text-decoration: none;
}

// 子要素はカテゴリー名の共通項
.category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 11px;
  letter-spacing: 2px;
  text-decoration: none;
  &:hover{
    color: skyblue;
  }
  // @include hover__color(black, lightgray, 1);
}

.categories{
  z-index: 1001;
  position: relative;
  padding-bottom: 10px;
  &:hover{
    .category__parent{
      top: 40px;
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
        &:hover{
          color: skyblue;
        }
        // @include hover__color(white, skyblue, 1);
      }
      li {
        &:hover{
          .category__child{
            width: 100%;
            display: block;
            top: 0;
            left: 179px;
            li {
              &:hover{
                .category__grandchild{
                  width: 200px;
                  display: block;
                  top: 0;
                  left: 178px;
                }
              }
            }
          }
        }
      }
    }
  }
}
