$section-color: rgb(245,245,245);

.Upper {
  background-color: $section-color;
  height: 128px;
  width: 100vw;
  display: flex;
  align-items: center;

  &__icon {
    height: 49px;
    width: 185px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.Body {
  position: relative;
  min-height: 100%;
  color: rgb(51, 51, 51);
  background-color: rgb(245, 245, 245);
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 14px;

  .Item {
    background-color: white;
    height: 500px;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .Form_camera {

    }

      #previews {
        display: flex;
      }

        // .js-file {
        //   display: none;
        // }

    &__name {
      background-color: white;
      height: 200px;
      width: 700px;
      border-bottom: 1px solid grey;
      margin: 0 auto;
    }
      .Form__name {

      }

      .Form__introduction {
        height: 100px;
        width: 500px;
      }

    &__detail {
      background-color: white;
      height: 300px;
      width: 700px;
      border-bottom: 1px solid grey;
      margin: 0 auto;
    }

    &__delivery {
      background-color: white;
      height: 300px;
      width: 700px;
      border-bottom: 1px solid grey;
      margin: 0 auto;
    }

    &__price {
      background-color: white;
      height: 300px;
      width: 700px;
      margin: 0 auto;
    }
  }
}
.Bottom {
  background-color: $section-color;
  height: 220px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
  }
}
