.actionsinput {
  background-color: #3CCACE;
  color: white;
  border-radius: 30px;
}
.form-require {
  width: 40px;
}
.signup_new_main {
  text-align: center;
}

.signup_actions {
  background-color: #3CCACE;
  color: white;
  border-radius: 30px;
  border: none;
  height: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.signup_new_message {
  margin-top: 40px;
}