.card_add {
  background-color: #f5f5f5;
  width: 700px;
  margin: auto;
  text-align: center;
  .title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #f5f5f5;
  }
    .number-details {
      .card-number {
        font-size: 14px;
      }
      .must_check {
        background-color: red;
        color: #fff;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        font-size: 12px;
        vertical-align: top;
        width: 32px;
        height: 19px;
      }
    }
    .number {
      width: 100%;
      height: 48px;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
}